
{{ $tagscss := resources.Get "css/tag-cloud.css" }} 
<link rel="stylesheet" href="{{ $tagscss.RelPermalink }}"> 


{{ $tags := .Site.Taxonomies.tags  }}

<div class="tag-cloud-info">
  <div class="info-item">
    <span class="key">标签总数:</span>
    <span class="value">{{ len $tags }}</span>
  </div>
  <div class="info-item">
    <span class="key">文章总数:</span>
    <span class="value">{{ len .Site.RegularPages }}</span>
  </div>
</div>
<div class="tag-cloud" id="tag-cloud">
  {{ range $tag, $taxonomy := $tags }}
    <a href="{{ "tags/" | relLangURL }}{{ $tag | urlize }}" 
        class="tag" 
        data-count="{{ $taxonomy.Count }}" 
        data-length="{{ len $tag }}"
        data-name="{{ $tag }}">
      <div class="tag-content">
        {{ $tag }} <span class="count">{{ $taxonomy.Count }}</span>
      </div>
    </a>
  {{ end }}
</div>





{{ $jsProcess := resources.Get "js/tag-cloud.js" }} 
<script type="text/javascript" src="{{ $jsProcess.RelPermalink }}" integrity="{{ $jsProcess.Data.Integrity }}"></script>