

body {
  background-color: var(--bg-color) !important;
} */
:root {
  --color-muted-foreground: oklch(0.61 0.01 97.42);
  --bg-color: oklch(0.98 0.01 95.1); 
  --container-width: 200%;  /* 调整整体容器宽度（百分比） */
  /* 最大宽度限制 */
  --container-max-width: 100rem;  
}

pre {
  margin-top: 0 !important;
}

.prose .chroma  {
  margin: 0 !important;
  padding-top: 0.5rem;
  border-radius: 0 !important;
  background: oklch(0.93 0.02 90.24);
}

pre.chroma.collapsed {
  max-height: 0;
  border: none;
}
.copy-button {
  background: transparent;
}
.redirect-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
}