{{ $lang := .Type | default "text" | lower }}
<div class="code-block-wrapper">
  <div class="code-header">
    <span class="language-label">
      <span class="language-brackets"></></span>  <!-- 单独控制符号 -->
      <span class="language-name">{{ $lang | markdownify }}</span>  <!-- 单独控制文字 -->
    </span>

    <div class="code-buttons">
      <button class="fold-button" title="Toggle fold">
        <i class="fas fa-chevron-up"></i>
        <span>折叠</span>
      </button>
      <button class="copy-button" title="Copy code">
        <i class="fas fa-copy"></i>
        <span>复制</span>
      </button>
    </div>
  </div>
  {{ highlight .Inner $lang }}
</div>
