{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <ul class="article-list">
    {{ $paginator := .Paginate (where .Site.RegularPages "Kind" "page") }}
    {{ range $paginator.Pages }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <span class="meta">
          <span class="date">{{ .Date.Format "2006-01-02" }}</span>
          <span class="section">{{ with .CurrentSection }}{{ .Title }}{{ end }}</span>
          <span> | tags:</span>
          {{ range .Params.tags }}
          {{ $tag := . | urlize }}
          {{ $url := printf "%s/tags/%s/" (strings.TrimSuffix "/" $.Site.BaseURL) $tag }}
            <a href="{{ $url | relLangURL }}" 
              class="_tag px-1 py-0.5 text-xs font-medium rounded-md border mr-1 last:mr-0">
              {{ . }}
            </a>
          {{ end }}
        </span>
      </li>
    {{ end }}
  </ul>

  <!-- 添加分页导航 -->
  {{ template "partials/pagination.html" . }}
{{ end }}